

<div class="py-3 px-4" *ngIf="!isLoading">
    <div class="mb-1">
        <h1 class="pages_heading pl-2 mb-3"><b>Dashboard Analytics</b></h1>
        <div class="row">
            <div class="">
                <div class="card mb-2 widget-content bg-blue-dark">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">
                                <strong>Total Count</strong>
                            </div>
                            <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>{{ variables.totalCounts.total }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
          
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-night-fade">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong>Accepted By Underwriter</strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalAccept }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-arielle-smile">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong>Rejected By Underwriter</strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalReject }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-happy-green">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong> Referred To Underwriter </strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalSTPFail }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-premium-dark">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong>STP</strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalSTPPass }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-premium-dark">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong>Cancelled</strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalCancel }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="w_margin card mb-2 widget-content bg-premium-dark">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading">
                                    <strong>Pending</strong>
                                </div>
                                <!-- <div class="widget-subheading">Lorem ipsum dolor sit</div> -->
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span>{{ variables.totalCounts.totalPending }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            
            
           
           
            
            <!-- </div> -->
        </div>
    </div>
    <mat-card class="custom_card">
        <div class="row align-items-cnter">
            <div class="col-md-12 pl-4">
                <h1 class="pages_heading">Applicant List</h1>
                <h3 class="mt-2 mb-2">Filters</h3>
            </div>
            <!-- filter start -->
            <div class="col-md-12">
                <form [formGroup]="filterForm"> 
                    <!-- this filters are used for the display table data by status -->
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="date-block__list col-md-2">
                            <label class="d-flex align-items-center mb-0 tooltip_a text-muted">By Status
                                <!-- <mat-icon class="pl-1">info</mat-icon> -->
                                <!-- <span class="tooltiptext">Display applicants according to the Status filter.</span> -->
                                <!-- <mat-icon class="pl-1"  matTooltip="According to the By Status, you can view the applicants." matTooltipPosition="above">info</mat-icon> -->
                            </label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select by status" formControlName="status"
                                    (selectionChange)="onStatusChange($event.value)">
                                    <mat-option value="{{ item }}" *ngFor="let item of ['accept','reject','STP','NSTP','pending','cancel' ]">
                                        
                                        <span [ngSwitch]="item">
                                            <div *ngSwitchCase="'STP'">STP</div>
                                            <div *ngSwitchCase="'NSTP'">Referred To Underwriter</div>
                                            <div *ngSwitchCase="'pending'">Pending</div>
                                            <div *ngSwitchCase="'accept'">Accepted By Underwriter</div>
                                            <div *ngSwitchCase="'reject'">Rejected By Underwriter</div>
                                            <div *ngSwitchCase="'cancel'">Cancelled</div>
                                        </span>
                                        <!-- {{ item }} -->
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- this filter display data by plan name -->
                        <div class="date-block__list col-md-2">
                            <label class="d-block mb-0 d-flex align-items-center text-muted">By Plan Name 
                                <!-- <mat-icon class="pl-1" matTooltip="According to the Plan Name, you can view the applicants." matTooltipPosition="above">info</mat-icon> -->
                            </label>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select by Plan name" formControlName="planName"
                                    (selectionChange)="onPlanNameChange($event.value)">
                                    <mat-option value="{{ item }}" *ngFor="let item of 
                                    ['Jeevan Suraksha Term Plan']">{{ item }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <!-- here we are displaying data according to user inputs -->
                        <div class="date-block__list col-md-3 searchFilterWithIcon">
                            <label class="d-flex align-items-center mb-0 text-muted">Search By </label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-icon matPrefix>search</mat-icon>
                                <input (input)="searchFilter($event.target.value)" formControlName="search" matInput
                                    placeholder="Applicant Name, Applicant No.">
                            </mat-form-field>

                        </div>

                        <!-- here we are using date filters  -->
                        <div class="date-block__list col-md-2">
                            <label class="d-flex align-items-center mb-0 text-muted">Select From Date </label>
                            <mat-form-field appearance="outline">
                                <input matInput [matDatepicker]="fromDate" [max]="tomorrow" placeholder="From Date"
                                    formControlName="fromDate">
                                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                <mat-datepicker #fromDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="date-block__list col-md-2">
                            <label class="d-flex align-items-center mb-0 text-muted">Select To Date </label>
                            <mat-form-field appearance="outline" >
                                <input matInput [matDatepicker]="toDate" [max]="tomorrow" placeholder="To Date"
                                    formControlName="toDate">
                                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                                <mat-datepicker #toDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="date-block__list col-md-1 pl-0">
                            <label class="d-block mb-4"></label>
                            <!-- after select date we have to click on Go button -->
                            <button matTooltip="After select date"  matTooltipPosition="above" [disabled]="variables.isGoButtonDisabled" (click)="applyDateFilter()"
                                class="btn btn_submit p-2 h_54">Submit</button>
                                <!-- clear all fields and fresh the application -->
                            <button matTooltip="Clear filters"  [ngClass]="{'btn_white': true}" matTooltipPosition="above" [disabled]="variables.isButtonDisabled" (click)="clearAllFields()"
                                class="btn btn-outline-dark p-3 d-inline-flex align-items-center h_54 ml-1">
                                <mat-icon>cached</mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- filter close -->
        </div>
        <mat-card-actions>
            <!-- display data in table format -->
            <div class="material_dynamic_table">
                <table mat-table [dataSource]="dataSource" class="table table-hover table-striped">

                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef>User Profile </th>
                        <td mat-cell *matCellDef="let element">
                            <img [src]="addEndPointPath(element?.face_base64)" class="img-fluid primary-image" alt="user photo" width="100"> 
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ApplicationNo">
                        <th mat-header-cell *matHeaderCellDef>Application No. </th>
                        <td mat-cell *matCellDef="let element">{{ element.application_id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="PolicyNo">
                        <th mat-header-cell *matHeaderCellDef> Policy No. </th>
                        <td mat-cell *matCellDef="let element"> {{(element.pol_no && element.pol_no != '') ?
                            element.pol_no : '-'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ApplicantName">
                        <th mat-header-cell *matHeaderCellDef> Applicant Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.full_name | titlecase}} </td>
                    </ng-container>

                    

                    <ng-container matColumnDef="PlanName">
                        <th mat-header-cell *matHeaderCellDef> Plan Name </th>
                        <td mat-cell *matCellDef="let element"> {{element['plan_name']}} </td>
                    </ng-container>

                    <ng-container matColumnDef="SumInsured">
                        <th mat-header-cell *matHeaderCellDef> Sum Insured </th>
                        <td mat-cell *matCellDef="let element"> {{element['sum_assured']}} </td>
                    </ng-container>
                    <ng-container matColumnDef="InsertionDatetime">
                        <th mat-header-cell *matHeaderCellDef> Insertion Date </th>
                        <td mat-cell *matCellDef="let element"> {{element?.insertion_datetime | date:'dd-MM-yy' }} </td>
                    </ng-container>

                    <ng-container matColumnDef="STPStatus">
                        <th mat-header-cell *matHeaderCellDef style="width: 300px;">Status</th>
                        <td mat-cell *matCellDef="let element">
                            <div [ngClass]='{
                                    "c_chipsSTPPass" :element["stp_status"]  == "STP",
                                    "c_chipsSTPFail" :element["stp_status"]  == "NSTP",
                                    "c_chipsPending":element["stp_status"]  == "pending",
                                    "c_chipsAccept":element["stp_status"]  == "accept",
                                    "c_chipsReject":element["stp_status"]  == "reject",
                                    "c_chipsCancel":element["stp_status"]  == "cancel"
                                }'>
                                <div [ngSwitch]="element.stp_status">
                                    <div *ngSwitchCase="'STP'">STP</div>
                                    <div *ngSwitchCase="'NSTP'">Referred To Underwriter</div>
                                    <div *ngSwitchCase="'pending'">Pending</div>
                                    <div *ngSwitchCase="'accept'">Accepted By Underwriter</div>
                                    <div *ngSwitchCase="'reject'">Rejected By Underwriter</div>
                                    <div *ngSwitchCase="'cancel'">Cancelled</div>
                                  </div>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ViewInDetails">
                        <th mat-header-cell *matHeaderCellDef> 
                            <label class="d-flex align-items-center mb-0 tooltip_a">&nbsp;&nbsp; Action
                                <mat-icon class="pl-1">info</mat-icon>
                                <span class="tooltiptext">To access the applicant detail page, click the details button.</span>
                            </label>    
                        </th>
                        <td mat-cell *matCellDef="let element"> <button class="d-flex align-items-center view_details_btn" (click)="redirectTo(row.application_id)">Details <mat-icon>arrow_right_alt</mat-icon>
                        </button>  </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="redirectTo(row.application_id)"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9">No data found.</td>
                    </tr>
                </table>
                <mat-paginator #paginatorUnderwriting class="profile-name" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                    <!-- <mat-paginator [length]="totalApplicants" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator> -->
            </div>
            <!-- display data in table format close -->
        </mat-card-actions>
    </mat-card>
</div>



<div *ngIf='isLoading'>
    <div class="col-12  border-1 rounded">
        <h3 class="text-capitalize text-secondary py-3 mb-0 text-center">Loading</h3>
    </div>
</div>
