<div class="header">
    <div class="header-inner">
        <div class="logo-wrapper">
            <div class="logo-inner p">
                <h4>||||| UW |||||</h4>
                <!-- <h4>Logo</h4> -->
            </div>
        </div>
        <div class="nav-list">
            <a routerLink='/alt-uw/list' routerLinkActive='active' class="nav-link">Dashboard</a>
            <!-- <a routerLink='/alt-uw/upload' routerLinkActive='active' class="nav-link">Upload</a>
            <a routerLink='/alt-uw/add-applicant' routerLinkActive='active' class="nav-link">Add</a> 
            <a routerLinkActive='active' class="nav-link">Analytics</a>
            <a routerLinkActive='active' class="nav-link">Fraud</a> -->
            <a  class="nav-link"><div class="btn btn-light" (click)='logout()'>Logout</div></a> 
        </div>
    </div>
</div>